{"filter":false,"title":".gitignore","tooltip":"/pictgram/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":26,"column":0},"end":{"row":26,"column":1},"action":"insert","lines":["."],"id":2}],[{"start":{"row":26,"column":1},"end":{"row":26,"column":2},"action":"insert","lines":["e"],"id":3},{"start":{"row":26,"column":2},"end":{"row":26,"column":3},"action":"insert","lines":["n"]},{"start":{"row":26,"column":3},"end":{"row":26,"column":4},"action":"insert","lines":["v"]}],[{"start":{"row":26,"column":4},"end":{"row":26,"column":5},"action":"insert","lines":["*"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":26,"column":5},"end":{"row":26,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1612878288970,"hash":"ccb3cd20c0c0e73c516cd8ca573b134a2448bb94"}